Repository d4rken-org/sdmaid-se, pull requests merged in 2023-10, with the labels that each got.

#681 Setup: Improve the Shizuku setup procedure
  app-common-io/src/main/java/eu/darken/sdmse/common/shizuku/ShizukuManager.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/shizuku/ShizukuSettings.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/shizuku/service/ShizukuServiceClient.kt
  app/src/main/java/eu/darken/sdmse/common/debug/DebugCardProvider.kt
  app/src/main/java/eu/darken/sdmse/setup/shizuku/ShizukuSetupCardVH.kt
  app/src/main/java/eu/darken/sdmse/setup/shizuku/ShizukuSetupModule.kt
Labels: enhancement, c: Setup, ADB

#685 AppCleaner: If the lock screen becomes active, hide the overlay until the lockscreen is dismissed
  app-common/src/main/java/eu/darken/sdmse/common/AndroidModule.kt
  app/src/main/java/eu/darken/sdmse/automation/core/AutomationService.kt
  app/src/main/java/eu/darken/sdmse/automation/core/ScreenState.kt
Labels: enhancement, c: AppCleaner, ACS

#702 AppControl: Fix line-wrapping on dashboard card
  app/src/main/res/layout/appcontrol_dashboard_item.xml
Labels: bug, c: AppControl, General UI

#705 Root/Shizuku: Fix not being able to bind the service interface after AGP updating AGP 8.0.2->8.1.2
  app-common/src/main/java/eu/darken/sdmse/common/ipc/BinderExtensions.kt
Labels: bug, Root, ADB

#704 Setup: Add more specific type labels for SAF paths
  app/src/main/java/eu/darken/sdmse/setup/saf/SAFSetupModule.kt
  app/src/main/res/values/strings.xml
Labels: enhancement, c: Setup, SAF

#703 Setup: Improve SAF access handling on Android 11 and Android 12 after Google Play system update of the `Files` app
  app-common-io/src/main/java/eu/darken/sdmse/common/files/saf/SAFGateway.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/files/saf/SAFPathExtensions.kt
  app/src/main/java/eu/darken/sdmse/setup/saf/SAFSetupModule.kt
Labels: enhancement, c: Setup, ACS, Google Play

#706 AppCleaner: If Shizuku is being used by SD Maid, then exclude it from cache clearing
  app-common-io/src/main/java/eu/darken/sdmse/common/shizuku/ShizukuManager.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/scanner/PostProcessorModule.kt
Labels: bug, c: AppCleaner, ADB

#707 Scheduler: Show the label of the last executed schedule
  app/src/main/java/eu/darken/sdmse/scheduler/ui/SchedulerDashCardVH.kt
Labels: enhancement, c: Scheduler

#711 UI: Tweak upgrade screen margins and paddings
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/UpgradeRepoGplay.kt
  app/src/gplay/res/layout/upgrade_fragment.xml
Labels: General UI

#713 Automation: Refactor some common logic to be context aware and not a static call
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/ClearCacheModule.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/alcatel/AlcatelSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/androidtv/AndroidTVSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/aosp/AOSPSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/coloros/ColorOSSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/flyme/FlymeSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/huawei/HuaweiSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/lge/LGESpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/miui/MIUISpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/nubia/NubiaSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/oneplus/OnePlusSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/realme/RealmeSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/samsung/SamsungSpecs.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/vivo/VivoSpecs.kt
  app/src/main/java/eu/darken/sdmse/automation/core/common/AccessibilityNodeExtensions.kt
  app/src/main/java/eu/darken/sdmse/automation/core/common/AutomationContextExtensions.kt
  app/src/main/java/eu/darken/sdmse/automation/core/common/CrawlerCommon.kt
  app/src/main/java/eu/darken/sdmse/automation/core/specs/AutomationExplorer.kt
Labels: ACS

#720 Automation: Cancel automation if the screen becomes unavailable
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/ClearCacheModule.kt
  app/src/main/java/eu/darken/sdmse/automation/core/AutomationService.kt
  app/src/main/java/eu/darken/sdmse/automation/core/ScreenState.kt
  app/src/main/java/eu/darken/sdmse/automation/core/common/PlanAbortException.kt
  app/src/main/java/eu/darken/sdmse/automation/core/common/ScreenUnavailableException.kt
  app/src/main/java/eu/darken/sdmse/automation/core/common/StepProcessor.kt
  app/src/main/java/eu/darken/sdmse/automation/core/specs/AutomationExplorer.kt
  app/src/main/res/values/strings.xml
Labels: enhancement, c: AppCleaner, ACS

#723 targetSdk: Int? is deprecated
  buildSrc/src/main/java/ProjectConfig.kt
Labels: Build process

#725 Root/Shizuku: Fix SD Maid crashing on when activating Root or Shizuku
  app-common-pkgs/proguard-rules.pro
  app-common-root/consumer-rules.pro
  app-common-root/proguard-rules.pro
  app-common-shell/proguard-rules.pro
  app-common-shizuku/consumer-rules.pro
  app-common-shizuku/proguard-rules.pro
  app-common-test/proguard-rules.pro
  app-common/proguard-rules.pro
  app-common/src/main/java/eu/darken/sdmse/common/ipc/BinderExtensions.kt
  buildSrc/src/main/java/ProjectConfig.kt
Labels: bug, Root, ADB, Build process

#726 UI: Fix crash when going to setup from a settings "setup required" hint
  app/src/main/java/eu/darken/sdmse/setup/SetupModuleExtensions.kt
Labels: bug, General UI

#730 IO: Log the concrete error type when deletion fails
  app/src/main/java/eu/darken/sdmse/appcleaner/core/deleter/AppJunkDeleter.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/SystemCleaner.kt
Labels: c: IO

#745 CorpseFinder: Rename base list view to align with other tools
  app/src/main/java/eu/darken/sdmse/corpsefinder/ui/list/CorpseFinderListAdapter.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/ui/list/CorpseFinderListEvents.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/ui/list/CorpseFinderListFragment.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/ui/list/CorpseFinderListRowVH.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/ui/list/CorpseFinderListViewModel.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/ui/list/CorpseListEvents.kt
  app/src/main/res/navigation/main_nav.xml
Labels: c: CorpseFinder

#741 SystemCleaner: Prevent early abort due to reading inaccessible paths
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/SystemCrawler.kt
Labels: bug, c: SystemCleaner

#747 Google Play: Improve upgrade check reliability
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/UpgradeRepoGplay.kt
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/billing/client/BillingConnection.kt
Labels: bug, Google Play

#750 Google Play: Improve querySku logging
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/billing/Sku.kt
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/billing/client/BillingConnection.kt
Labels: Google Play

#752 Scheduler: Improve time calculation
  app-common/src/main/java/eu/darken/sdmse/common/TimeExtensions.kt
  app/src/main/java/eu/darken/sdmse/scheduler/core/Schedule.kt
  app/src/main/java/eu/darken/sdmse/scheduler/core/SchedulerManager.kt
  app/src/main/java/eu/darken/sdmse/scheduler/ui/SchedulerDashCardVH.kt
  app/src/main/java/eu/darken/sdmse/scheduler/ui/manager/items/ScheduleRowVH.kt
  app/src/test/java/eu/darken/sdmse/scheduler/core/ScheduleTest.kt
Labels: bug, c: Scheduler

#757 CorpseFinder/SystemCleaner: Change button width in details view to prevent overlap in some locales
  app/src/main/res/layout/corpsefinder_corpse_element_header.xml
  app/src/main/res/layout/systemcleaner_filtercontent_element_header.xml
Labels: enhancement, c: CorpseFinder, c: SystemCleaner, General UI

#758 Onboarding: Let users already toggle the MOTD check on/off during onboarding (on the privacy screen)
  app/src/main/java/eu/darken/sdmse/main/ui/onboarding/privacy/OnboardingPrivacyFragment.kt
  app/src/main/java/eu/darken/sdmse/main/ui/onboarding/privacy/OnboardingPrivacyViewModel.kt
  app/src/main/res/layout/onboarding_privacy_fragment.xml
Labels: enhancement, General UI

#760 Update PRIVACY_POLICY to mention the update check mechanism
  PRIVACY_POLICY.md
Labels: bug

#761 Update check: Make update check optional
  app/src/foss/java/eu/darken/sdmse/common/updater/FossUpdateChecker.kt
  app/src/gplay/java/eu/darken/sdmse/common/updater/GplayUpdateChecker.kt
  app/src/main/java/eu/darken/sdmse/App.kt
  app/src/main/java/eu/darken/sdmse/common/updater/UpdateChecker.kt
  app/src/main/java/eu/darken/sdmse/common/updater/UpdateService.kt
  app/src/main/java/eu/darken/sdmse/common/updater/UpdaterExtensions.kt
  app/src/main/java/eu/darken/sdmse/main/core/GeneralSettings.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/DashboardViewModel.kt
  app/src/main/java/eu/darken/sdmse/main/ui/onboarding/privacy/OnboardingPrivacyFragment.kt
  app/src/main/java/eu/darken/sdmse/main/ui/onboarding/privacy/OnboardingPrivacyViewModel.kt
  app/src/main/java/eu/darken/sdmse/main/ui/settings/general/GeneralSettingsFragment.kt
  app/src/main/java/eu/darken/sdmse/main/ui/settings/general/GeneralSettingsViewModel.kt
  app/src/main/res/drawable/ic_creation_24.xml
  app/src/main/res/drawable/ic_message_alert_24.xml
  app/src/main/res/layout/onboarding_privacy_fragment.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences_general.xml
Labels: enhancement, FOSS

#762 More eastereggs
  app-common/src/main/res/values/strings.xml
  app/src/main/java/eu/darken/sdmse/common/EasterEggs.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/items/TitleCardVH.kt
Labels: enhancement

#765 CorpseFinder: Fix details selection not being dismissed on pager swipe
  app/src/main/java/eu/darken/sdmse/corpsefinder/ui/details/corpse/CorpseFragment.kt
Labels: bug, c: CorpseFinder
