Repository d4rken-org/sdmaid-se, pull requests merged in 2023-04, with the labels that each got.

#86 AppCleaner: Add ACS matching for VIVO
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/VivoAPI29PlusSpecs.kt
Labels: enhancement, c: AppCleaner, ACS

#90 Billing: Improve billing data management.
  app/src/foss/java/eu/darken/sdmse/common/upgrade/core/UpgradeRepoFoss.kt
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/UpgradeRepoGplay.kt
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/billing/BillingExtensions.kt
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/billing/BillingManager.kt
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/billing/client/BillingConnection.kt
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/billing/client/BillingConnectionProvider.kt
  app/src/main/java/eu/darken/sdmse/common/upgrade/UpgradeRepo.kt
  app/src/main/java/eu/darken/sdmse/main/ui/MainActivity.kt
  app/src/main/java/eu/darken/sdmse/main/ui/MainActivityVM.kt
Labels: bug, Google Play

#99 Billing: Don't crash when Google Play Service is unavailable during purchase data refresh.
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/billing/BillingManager.kt
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/core/billing/client/BillingConnectionProvider.kt
Labels: bug

#109 Fix test not cleaning up correctly
  app/src/test/java/eu/darken/sdmse/common/exclusion/core/ExclusionStorageTest.kt
Labels: Chore

#118 Create `ShellOps`
  app-common-io/src/main/aidl/eu/darken/sdmse/common/root/service/RootServiceConnection.aidl
  app-common-io/src/main/aidl/eu/darken/sdmse/common/shell/root/ShellOpsCmd.aidl
  app-common-io/src/main/aidl/eu/darken/sdmse/common/shell/root/ShellOpsConnection.aidl
  app-common-io/src/main/aidl/eu/darken/sdmse/common/shell/root/ShellOpsResult.aidl
  app-common-io/src/main/java/eu/darken/sdmse/common/files/local/LocalGateway.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/files/local/root/FileOpsClient.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/files/local/root/FileOpsHost.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/root/PkgOpsClient.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/root/PkgOpsHost.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/root/service/RootModule.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/root/service/RootServiceClient.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/root/service/RootServiceConnectionImpl.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/root/service/RootServiceHost.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/root/service/RootServiceHostLauncher.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/shell/ShellOps.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/shell/ShellOpsException.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/shell/root/ShellOpsClient.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/shell/root/ShellOpsCmd.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/shell/root/ShellOpsHost.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/shell/root/ShellOpsResult.kt
  app-common-root/src/main/java/eu/darken/sdmse/common/root/service/internal/RootHostCmdBuilder.kt
  app/src/main/java/eu/darken/sdmse/common/debug/DebugCardProvider.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/items/DebugCardVH.kt
Labels: enhancement, c: IO, Root

#121 Support root-access on secondary user profiles
  app-common-root/src/main/java/eu/darken/sdmse/common/root/service/internal/ReflectionBroadcast.kt
  app-common-root/src/main/java/eu/darken/sdmse/common/root/service/internal/RootIPC.kt
Labels: enhancement, Root

#122 Print install ID into debug log
  app/src/main/java/eu/darken/sdmse/common/debug/recording/core/RecorderModule.kt
Labels: enhancement

#126 Place debug logs in SD Maids public cache folder
  app/src/main/java/eu/darken/sdmse/common/debug/recording/core/RecorderModule.kt
Labels: enhancement

#125 Keep screen on while tasks are active.
  app/src/main/java/eu/darken/sdmse/main/ui/MainActivity.kt
  app/src/main/java/eu/darken/sdmse/main/ui/MainActivityVM.kt
Labels: enhancement

#127 Bump Kotlin
  app/src/main/java/eu/darken/sdmse/appcleaner/ui/details/AppJunkDetailsFragmentVM.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/AppControlListFragment.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/AppActionDialog.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/ui/details/CorpseDetailsFragmentVM.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/DashboardFragmentVM.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/ui/details/FilterContentDetailsFragmentVM.kt
  buildSrc/build.gradle.kts
  buildSrc/src/main/java/Versions.kt
Labels: Chore

#128 Clean up icon resources.
  app/src/main/res/drawable/ic_add_task.xml
  app/src/main/res/drawable/ic_analytics_24.xml
  app/src/main/res/drawable/ic_baseline_auto_fix_high_24.xml
  app/src/main/res/drawable/ic_baseline_computer_24.xml
  app/src/main/res/drawable/ic_baseline_key_24.xml
  app/src/main/res/drawable/ic_beta_onsurface.xml
  app/src/main/res/drawable/ic_card_text_onsurface.xml
  app/src/main/res/drawable/ic_changelog_onsurface.xml
  app/src/main/res/drawable/ic_check.xml
  app/src/main/res/drawable/ic_check_circle.xml
  app/src/main/res/drawable/ic_default_appicon_onsurface.xml
  app/src/main/res/drawable/ic_discord_onsurface.xml
  app/src/main/res/drawable/ic_email_onsurface.xml
  app/src/main/res/drawable/ic_emoji_happy.xml
  app/src/main/res/drawable/ic_emoji_neutral.xml
  app/src/main/res/drawable/ic_error_onsurface.xml
  app/src/main/res/drawable/ic_error_outline.xml
  app/src/main/res/drawable/ic_expand_less.xml
  app/src/main/res/drawable/ic_expand_more.xml
  app/src/main/res/drawable/ic_experimental_onsurface.xml
  app/src/main/res/drawable/ic_github_onsurface.xml
  app/src/main/res/drawable/ic_home.xml
  app/src/main/res/drawable/ic_id_onsurface.xml
  app/src/main/res/drawable/ic_language_onsurface.xml
  app/src/main/res/drawable/ic_notification_backup_icon.xml
  app/src/main/res/drawable/ic_record_onsurface.xml
  app/src/main/res/drawable/ic_reddit_onsurface.xml
  app/src/main/res/drawable/ic_restore.xml
  app/src/main/res/drawable/ic_restore_onprimary.xml
  app/src/main/res/drawable/ic_saf.xml
  app/src/main/res/drawable/ic_scheduler_onsurface.xml
  app/src/main/res/drawable/ic_select_all.xml
  app/src/main/res/drawable/ic_settings_onsurface.xml
  app/src/main/res/drawable/ic_startmode_onsurface.xml
  app/src/main/res/drawable/ic_storage_onsurface.xml
  app/src/main/res/drawable/ic_support_onsurface.xml
  app/src/main/res/drawable/ic_theme_onsurface.xml
  app/src/main/res/drawable/ic_translate_onsurface.xml
  app/src/main/res/drawable/ic_ui_onsurface.xml
  app/src/main/res/drawable/ic_unselect_all.xml
  app/src/main/res/drawable/ic_update_onsurface.xml
  app/src/main/res/drawable/ic_user_onsurface.xml
  app/src/main/res/drawable/ic_vacuum_outline_24.xml
  app/src/main/res/drawable/ic_xda_onsurface.xml
Labels: Chore

#129 Fix AppCleaner item count being off by 1 when inaccessible caches are listed
  app/src/main/java/eu/darken/sdmse/appcleaner/core/scanner/InaccessibleCacheProvider.kt
Labels: bug, c: AppCleaner

#133 UI: Improve toggle switch behavior
  app-common/src/main/java/eu/darken/sdmse/common/reflection/ReflectionExtensions.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/AppControlListFragment.kt
  app/src/main/java/eu/darken/sdmse/common/ButtonExtensions.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/items/DebugCardVH.kt
  app/src/main/java/eu/darken/sdmse/main/ui/onboarding/privacy/OnboardingPrivacyFragment.kt
  app/src/main/java/eu/darken/sdmse/scheduler/ui/manager/items/ScheduleRowVH.kt
Labels: enhancement, UI

#134 Catch activity launch crash for appcontrol entries.
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/AppActionDialogVM.kt
Labels: bug, c: AppControl

#135 PkgOps: Stream installed package data to stay within buffer limits
  app-common-io/src/main/aidl/eu/darken/sdmse/common/files/local/root/DetailedInputSource.aidl
  app-common-io/src/main/aidl/eu/darken/sdmse/common/files/local/root/FileOpsConnection.aidl
  app-common-io/src/main/aidl/eu/darken/sdmse/common/pkgs/pkgops/root/PkgOpsConnection.aidl
  app-common-io/src/main/aidl/eu/darken/sdmse/common/root/io/RemoteInputStream.aidl
  app-common-io/src/main/aidl/eu/darken/sdmse/common/root/io/RemoteOutputStream.aidl
  app-common-io/src/main/java/eu/darken/sdmse/common/files/SourceExtensions.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/files/local/root/DetailedInputSourceWrap.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/files/local/root/FileOpsClient.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/files/local/root/FileOpsHost.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/files/local/root/LocalPathLookupsPayload.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/files/local/root/LocalPathPayload.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/PkgOps.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/root/PackageInfoPayload.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/root/PkgOpsClient.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/root/PkgOpsHost.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/root/io/RemoteInputStreamExtensions.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/root/io/RemoteOutputStreamExtensions.kt
Labels: bug, c: IO, Root

#137 Ignore accessibility events if there is no active automation task.
  app/src/main/java/eu/darken/sdmse/automation/core/AutomationProcessor.kt
  app/src/main/java/eu/darken/sdmse/automation/core/AutomationService.kt
Labels: enhancement, c: AppCleaner, ACS

#138 Show error message in upgrade screen if gplay is unavailable.
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/ui/UpgradeFragment.kt
  app/src/gplay/java/eu/darken/sdmse/common/upgrade/ui/UpgradeFragmentVM.kt
Labels: enhancement, Google Play

#145 Don't abort deletion on errors
  app-common-io/src/main/java/eu/darken/sdmse/common/files/APathExtensions.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/AppCleaner.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/CorpseFinder.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/SystemCleaner.kt
Labels: enhancement, c: AppCleaner, c: CorpseFinder, c: SystemCleaner

#150 Leave breadcrumbs on app launch triggers to investigate ANR issues.
  app-common/src/main/java/eu/darken/sdmse/common/debug/AutomaticBugReporter.kt
  app-common/src/main/java/eu/darken/sdmse/common/debug/Bugs.kt
  app/src/foss/java/eu/darken/sdmse/common/debug/autoreporting/FossAutoReporting.kt
  app/src/gplay/java/eu/darken/sdmse/common/debug/autoreport/GooglePlayReporting.kt
  app/src/main/java/eu/darken/sdmse/automation/core/AutomationService.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/watcher/UninstallWatcherReceiver.kt
  app/src/main/java/eu/darken/sdmse/scheduler/core/SchedulerReceiver.kt
  app/src/main/java/eu/darken/sdmse/scheduler/core/SchedulerRestoreReceiver.kt
Labels: enhancement

#155 Fix debug log sharing.
  app/src/main/res/xml/file_provider_paths.xml
Labels: bug

#157 Show names of translators in settings
  app/src/main/java/eu/darken/sdmse/main/ui/settings/acks/AcknowledgementsFragment.kt
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences_acknowledgements.xml
Labels: enhancement

#159 Triple splash icon resolution.
  app/src/main/res/drawable-xxxhdpi/splash_icon.png
  app/src/main/res/drawable/splash_screen.xml
Labels: bug, UI

#165 Improve ownership detection for multi-user setups
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/PkgOps.kt
  app/src/main/java/eu/darken/sdmse/common/areas/modules/pub/SdcardsModule.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/CorpseFinder.kt
Labels: enhancement, c: CorpseFinder

#166 Only ask for permission for mounted storage.
  app-common-io/src/main/java/eu/darken/sdmse/common/storage/StorageVolumeX.kt
  app/src/main/java/eu/darken/sdmse/setup/saf/SAFSetupModule.kt
Labels: enhancement, c: Setup

#167 Fix typos
  app/src/main/res/values/strings.xml
  fastlane/metadata/android/en-US/full_description.txt
Labels: bug, UI

#170 Fix accessibility service init crash.
  app/src/main/java/eu/darken/sdmse/automation/core/AutomationService.kt
Labels: bug, c: AppCleaner, ACS

#176 Tweak dashboard
  app/src/main/res/layout/appcleaner_dashboard_item.xml
  app/src/main/res/layout/appcontrol_dashboard_item.xml
  app/src/main/res/layout/corpsefinder_dashboard_item.xml
  app/src/main/res/layout/scheduler_dashboard_item.xml
  app/src/main/res/layout/systemcleaner_dashboard_item.xml
  app/src/main/res/xml/preferences_corpsefinder.xml
Labels: enhancement, UI

#175 Make update info dismissable
  app/src/foss/java/eu/darken/sdmse/common/updater/FossUpdateChecker.kt
  app/src/foss/java/eu/darken/sdmse/common/updater/FossUpdateSettings.kt
  app/src/gplay/java/eu/darken/sdmse/common/updater/GplayUpdateChecker.kt
  app/src/main/java/eu/darken/sdmse/common/updater/UpdateChecker.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/DashboardFragmentVM.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/items/UpdateCardVH.kt
  app/src/main/res/layout/corpsefinder_list_item.xml
  app/src/main/res/layout/dashboard_update_item.xml
Labels: enhancement

#177 AppCleaner: Add ACS matching for Android 14 (PREVIEW)
  app-common/src/main/java/eu/darken/sdmse/common/BuildWrap.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/ClearCacheModule.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/specs/AOSP34PlusSpecs.kt
Labels: enhancement, c: AppCleaner, ACS, api: 34-A14-U

#178 Automatically refresh setup if accessibility service is launched without entering the setup.
  app/src/main/java/eu/darken/sdmse/automation/core/AutomationService.kt
Labels: enhancement, c: Setup, ACS

#180 CorpseFinder: Fix hints about KEEPER/COMMON not being shown.
  app/src/main/java/eu/darken/sdmse/corpsefinder/ui/list/CorpseRowVH.kt
  app/src/main/res/layout/corpsefinder_list_item.xml
Labels: bug, c: CorpseFinder

#184 CSI: Fix Ownership detection crash, nativeLibraryDir can be null.
  app/src/main/java/eu/darken/sdmse/common/forensics/csi/source/AppSourceLibCSI.kt
Labels: bug

#183 AppControl: Fix crash when launching an app generates a SecurityException
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/AppActionDialogVM.kt
Labels: bug, c: AppControl

#188 Fix linux icon
  app/src/main/res/drawable/ic_penguin_24.xml
  app/src/main/res/xml/preferences_systemcleaner.xml
Labels: bug, UI

#192 Add coffee drinking animation
  app-common/src/main/java/eu/darken/sdmse/common/flow/FlowCombineExtensions.kt
  app/src/main/assets/lottie/anim_alert_octagon.json
  app/src/main/assets/lottie/anim_loading_box.json
  app/src/main/assets/lottie/anim_loading_circle.json
  app/src/main/assets/lottie/mascot_animation_coffee_relaxed.json
  app/src/main/java/eu/darken/sdmse/automation/ui/AutomationControlView.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/DashboardFragmentVM.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/items/TitleCardVH.kt
  app/src/main/res/layout/automation_control_view.xml
  app/src/main/res/layout/dashboard_title_item.xml
  app/src/main/res/layout/view_preview.xml
Labels: enhancement, UI

#195 AppControl: Fix infinite loop when changing sortmodes.
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/AppControlListFragment.kt
Labels: bug, c: AppControl

#196 Update clutter db
  app/src/main/assets/clutter/db_clutter_markers.json
  app/src/main/assets/clutter/db_debug_markers.json
  app/src/test/java/eu/darken/sdmse/common/clutter/manual/DebugManualMarkerSourceTest.kt
  app/src/test/java/eu/darken/sdmse/common/clutter/manual/ManualMarkerSourceTest.kt
Labels: enhancement, c: ClutterDB

#198 CSI: Recognize and try matching with :remote suffix.
  app/src/main/java/eu/darken/sdmse/common/forensics/csi/pub/PublicDataCSI.kt
Labels: enhancement, c: CSI

#199 AppCleaner: Improve offline cache filter
  app/src/main/assets/expendables/db_offline_cache_files.json
  app/src/test/java/eu/darken/sdmse/appcleaner/core/forensics/filter/OfflineCacheFilterTest.kt
Labels: enhancement, c: AppCleaner

#200 Update clutter db
  app/src/main/assets/clutter/db_clutter_markers.json
Labels: enhancement, c: ClutterDB

#203 AppCleaner: Scan for Viber VOIP thumbnails
  app/src/main/assets/expendables/db_thumbnail_files.json
  app/src/test/java/eu/darken/sdmse/appcleaner/core/forensics/filter/ThumbnailsFilterTest.kt
Labels: enhancement, c: AppCleaner

#208 Sort AppCleaner details list, tabs and tab contents by size.
  app/src/main/java/eu/darken/sdmse/appcleaner/ui/details/AppJunkDetailsFragmentVM.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/ui/details/appjunk/AppJunkFragmentVM.kt
Labels: enhancement, c: AppCleaner

#209 SystemCleaner: Add GoAdSdk to advertisement filter.
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/filter/generic/AdvertisementFilter.kt
  app/src/test/java/eu/darken/sdmse/systemcleaner/core/filter/generic/AdvertisementFilterTest.kt
Labels: enhancement, c: SystemCleaner

#211 Fix ACS init crash
  app/src/main/java/eu/darken/sdmse/automation/core/AutomationService.kt
Labels: bug, ACS

#212 AppControl: Only show "Open in Appstore" for apps that actually have installer data available.
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/AppActionDialogVM.kt
Labels: c: AppControl

#213 AppControl: Fix app actions not executing on click.
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/AppActionDialogVM.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/items/AppStoreActionVH.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/items/LaunchActionVH.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/items/SystemSettingsActionVH.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/items/ToggleActionVH.kt
Labels: bug, c: AppControl

#220 Add uninstall action
  app/src/main/java/eu/darken/sdmse/appcontrol/core/AppInfoExtensions.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/AppActionAdapter.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/AppActionDialogVM.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/items/UninstallActionVH.kt
  app/src/main/res/layout/appcontrol_action_uninstall_item.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, c: AppControl

#221 Improve uninstall success/failure detection
  app/src/main/java/eu/darken/sdmse/appcontrol/core/AppControl.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/AppInfo.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/AppInfoExtensions.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/tasks/AppControlTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/uninstall/UninstallException.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/uninstall/UninstallTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/uninstall/Uninstaller.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/AppControlListFragment.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/AppControlListFragmentVM.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/ui/list/actions/AppActionDialogVM.kt
  app/src/main/res/layout/appcontrol_list_fragment.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, c: AppControl

#224 AppControl: Support prompt less app uninstall via root
  app/src/main/java/eu/darken/sdmse/appcontrol/core/uninstall/Uninstaller.kt
Labels: enhancement, c: AppControl

#226 AppCleaner: Fix single path/filter type deletion always triggering ACS based deletion for inaccessible caches
  app/src/main/java/eu/darken/sdmse/appcleaner/core/AppCleaner.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/ui/details/appjunk/AppJunkEvents.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/ui/details/appjunk/AppJunkFragment.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/ui/details/appjunk/AppJunkFragmentVM.kt
Labels: bug, c: AppCleaner

#228 AppCleaner: Fix back button behavior when using accessibility service
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/ClearCacheModule.kt
Labels: bug, c: AppCleaner, ACS

#230 AppCleaner: Fix ACS results
  app/src/main/java/eu/darken/sdmse/appcleaner/core/AppCleaner.kt
Labels: bug, c: AppCleaner

#235 AppCleaner: Do double back-press on all ROMs
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/ClearCacheModule.kt
Labels: bug, c: AppCleaner, ACS
