Repository d4rken-org/sdmaid-se, pull requests merged in 2024-06, with the labels that each got.

#1203 Improve release party screen
  app/src/foss/res/values-de/strings.xml
  app/src/foss/res/values/strings.xml
  app/src/gplay/res/values-de/strings.xml
  app/src/gplay/res/values/strings.xml
  app/src/main/java/eu/darken/sdmse/main/core/release/ReleaseManager.kt
  app/src/main/java/eu/darken/sdmse/main/ui/release/BetaGoodbyeFragment.kt
  app/src/main/res/layout/beta_goodbye_fragment.xml
Labels: enhancement

#1194 Improve app data loading and prepare for Android 15
  app-common-io/src/main/aidl/eu/darken/sdmse/common/pkgs/pkgops/ipc/PkgOpsConnection.aidl
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/PackageManagerExtensions.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/container/HiddenPkg.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/features/InstallerInfo.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/PkgOps.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/ipc/PkgOpsClient.kt
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/pkgops/ipc/PkgOpsHost.kt
  app-common-pkgs/src/main/java/eu/darken/sdmse/common/pkgs/PkgRepo.kt
  app-common-pkgs/src/main/java/eu/darken/sdmse/common/pkgs/sources/HiddenPkgsSource.kt
  app-common-pkgs/src/main/java/eu/darken/sdmse/common/pkgs/sources/LibraryPkgsSource.kt
  app-common-pkgs/src/main/java/eu/darken/sdmse/common/pkgs/sources/NormalPkgsSource.kt
  app-common-pkgs/src/main/java/eu/darken/sdmse/common/pkgs/sources/SystemManifestPkgSource.kt
Labels: enhancement, c: PKGS

#1183 AppCleaner: Don't retry system apps where "Clear cache" is disabled
  app/src/main/java/eu/darken/sdmse/automation/core/common/AutomationContextExtensions.kt
Labels: enhancement, c: AppCleaner, Automation

#1181 Core: Load some app data in parallel to speed up scanning
  app-common-pkgs/src/main/java/eu/darken/sdmse/common/pkgs/PkgRepo.kt
Labels: enhancement, c: PKGS

#1210 Analyzer: Improve debug output to investigate issues when opening files
  app/src/main/java/eu/darken/sdmse/analyzer/ui/storage/content/ContentViewModel.kt
Labels: c: StorageAnalyzer

#1225 Prevent MOTD check from happening before onboarding is complete
  app/src/main/java/eu/darken/sdmse/main/core/motd/MotdRepo.kt
Labels: Google Play, FOSS, MOTD

#1229 Scheduler: Close last opened app by going to the home screen
  app/src/main/java/eu/darken/sdmse/appcleaner/core/automation/ClearCacheModule.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/automation/AppControlAutomation.kt
  app/src/main/java/eu/darken/sdmse/automation/core/AutomationExtensions.kt
Labels: bug, c: AppCleaner, c: Scheduler, Automation

#1235 Fix crash when retrieving app data on Android 12 and lower when using Shizuku or Root
  app-common-io/src/main/java/eu/darken/sdmse/common/pkgs/PackageManagerExtensions.kt
Labels: bug, api: 31 A12 (Snow Cone), c: PKGS

#1239 Setup: If root access is available show additional explanation for Shizuku
  app/src/main/java/eu/darken/sdmse/setup/shizuku/ShizukuSetupCardVH.kt
  app/src/main/java/eu/darken/sdmse/setup/shizuku/ShizukuSetupModule.kt
  app/src/main/res/values/strings.xml
Labels: enhancement, c: Setup, ADB

#1237 Statistics: Prepare for statistics and history data
  app/build.gradle.kts
  app/src/main/java/eu/darken/sdmse/analyzer/core/content/ContentDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerProcessingTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerScanTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerSchedulerTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/export/AppExportTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/forcestop/ForceStopTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/toggle/AppControlToggleTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/uninstall/UninstallTask.kt
  app/src/main/java/eu/darken/sdmse/common/room/InstantConverter.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderScanTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderSchedulerTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/UninstallWatcherTask.kt
  app/src/main/java/eu/darken/sdmse/deduplicator/core/tasks/DeduplicatorDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/deduplicator/core/tasks/DeduplicatorOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/deduplicator/core/tasks/DeduplicatorScanTask.kt
  app/src/main/java/eu/darken/sdmse/main/core/SDMTool.kt
  app/src/main/java/eu/darken/sdmse/main/core/taskmanager/TaskManager.kt
  app/src/main/java/eu/darken/sdmse/stats/StatsRepo.kt
  app/src/main/java/eu/darken/sdmse/stats/core/BaseReport.kt
  app/src/main/java/eu/darken/sdmse/stats/core/HasReportDetails.kt
  app/src/main/java/eu/darken/sdmse/stats/core/Report.kt
  app/src/main/java/eu/darken/sdmse/stats/core/ReportDetails.kt
  app/src/main/java/eu/darken/sdmse/stats/core/Reportable.kt
  app/src/main/java/eu/darken/sdmse/stats/core/StatsRepo.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportEntity.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportIdTypeConverter.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportStatusConverter.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportsDao.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportsDatabase.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportsRoomDb.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/SDMToolTypeConverter.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerProcessingTask.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerScanTask.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerSchedulerTask.kt
  buildSrc/src/main/java/Dependencies.kt
Labels: c: Statistics

#1245 Update READMe
  README.md
Labels: documentation

#1249 Statistics: Add UI to view report history
  app-common/src/main/java/eu/darken/sdmse/common/flow/FlowCombineExtensions.kt
  app/build.gradle.kts
  app/schemas/eu.darken.sdmse.stats.core.db.ReportsRoomDb/1.json
  app/src/main/java/eu/darken/sdmse/analyzer/core/content/ContentDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerProcessingTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerSchedulerTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/CorpseFinder.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderSchedulerTask.kt
  app/src/main/java/eu/darken/sdmse/deduplicator/core/tasks/DeduplicatorDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/deduplicator/core/tasks/DeduplicatorOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/main/core/SDMToolExtensions.kt
  app/src/main/java/eu/darken/sdmse/main/core/taskmanager/TaskManager.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/DashboardAdapter.kt
  app/src/main/java/eu/darken/sdmse/main/ui/dashboard/DashboardViewModel.kt
  app/src/main/java/eu/darken/sdmse/stats/core/BaseReport.kt
  app/src/main/java/eu/darken/sdmse/stats/core/Report.kt
  app/src/main/java/eu/darken/sdmse/stats/core/StatsRepo.kt
  app/src/main/java/eu/darken/sdmse/stats/core/StatsSettings.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportEntity.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportsDatabase.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportsRoomDb.kt
  app/src/main/java/eu/darken/sdmse/stats/ui/StatsDashCardVH.kt
  app/src/main/java/eu/darken/sdmse/stats/ui/reports/ReportBaseRowVH.kt
  app/src/main/java/eu/darken/sdmse/stats/ui/reports/ReportsAdapter.kt
  app/src/main/java/eu/darken/sdmse/stats/ui/reports/ReportsEvent.kt
  app/src/main/java/eu/darken/sdmse/stats/ui/reports/ReportsFragment.kt
  app/src/main/java/eu/darken/sdmse/stats/ui/reports/ReportsViewModel.kt
  app/src/main/java/eu/darken/sdmse/stats/ui/settings/StatsSettingsFragment.kt
  app/src/main/java/eu/darken/sdmse/stats/ui/settings/StatsSettingsViewModel.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerProcessingTask.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerSchedulerTask.kt
  app/src/main/res/drawable/ic_circle_outline_24.xml
  app/src/main/res/layout/stats_dashboard_item.xml
  app/src/main/res/layout/stats_reports_base_item.xml
  app/src/main/res/layout/stats_reports_fragment.xml
  app/src/main/res/navigation/main_nav.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences_index.xml
  app/src/main/res/xml/preferences_statistics.xml
Labels: enhancement, c: Stats

#1250 Statistics: Track paths that are affected by tool operations
  app/schemas/eu.darken.sdmse.stats.core.db.ReportsRoomDb/1.json
  app/src/main/java/eu/darken/sdmse/analyzer/core/Analyzer.kt
  app/src/main/java/eu/darken/sdmse/analyzer/core/content/ContentDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/analyzer/ui/storage/content/ContentViewModel.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/AppCleaner.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/scanner/InaccessibleCache.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/scanner/InaccessibleCacheProvider.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerProcessingTask.kt
  app/src/main/java/eu/darken/sdmse/appcleaner/core/tasks/AppCleanerSchedulerTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/export/AppExportTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/forcestop/ForceStopTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/toggle/AppControlToggleTask.kt
  app/src/main/java/eu/darken/sdmse/appcontrol/core/uninstall/UninstallTask.kt
  app/src/main/java/eu/darken/sdmse/common/room/APathListTypeConverter.kt
  app/src/main/java/eu/darken/sdmse/common/room/APathTypeConverter.kt
  app/src/main/java/eu/darken/sdmse/common/room/SDMToolTypeConverter.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/CorpseFinder.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/CorpseFinderSchedulerTask.kt
  app/src/main/java/eu/darken/sdmse/corpsefinder/core/tasks/UninstallWatcherTask.kt
  app/src/main/java/eu/darken/sdmse/deduplicator/core/Deduplicator.kt
  app/src/main/java/eu/darken/sdmse/deduplicator/core/tasks/DeduplicatorDeleteTask.kt
  app/src/main/java/eu/darken/sdmse/deduplicator/core/tasks/DeduplicatorOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/main/core/taskmanager/TaskManager.kt
  app/src/main/java/eu/darken/sdmse/stats/core/AffectedApp.kt
  app/src/main/java/eu/darken/sdmse/stats/core/AffectedPath.kt
  app/src/main/java/eu/darken/sdmse/stats/core/BaseReport.kt
  app/src/main/java/eu/darken/sdmse/stats/core/HasReportDetails.kt
  app/src/main/java/eu/darken/sdmse/stats/core/Report.kt
  app/src/main/java/eu/darken/sdmse/stats/core/ReportDetails.kt
  app/src/main/java/eu/darken/sdmse/stats/core/ReportExtensions.kt
  app/src/main/java/eu/darken/sdmse/stats/core/Reportable.kt
  app/src/main/java/eu/darken/sdmse/stats/core/StatsRepo.kt
  app/src/main/java/eu/darken/sdmse/stats/core/StatsSettings.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/AffectedFilesDao.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/AffectedPathEntity.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportEntity.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportsDatabase.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/ReportsRoomDb.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/converter/AffectedFileActionConverter.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/converter/ReportIdTypeConverter.kt
  app/src/main/java/eu/darken/sdmse/stats/core/db/converter/ReportStatusConverter.kt
  app/src/main/java/eu/darken/sdmse/stats/ui/reports/ReportBaseRowVH.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/SystemCleaner.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerOneClickTask.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerProcessingTask.kt
  app/src/main/java/eu/darken/sdmse/systemcleaner/core/tasks/SystemCleanerSchedulerTask.kt
Labels: enhancement, c: Stats
